* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 580px;
  margin: 0 auto;
}

.intro-chunk {
  line-height: 1.5;
  font-size: 1.25rem;
  max-width: 380px;
  padding: 0 24px;
}

.title {
  font-size: 2rem;
  margin-top: 96px;
  margin-bottom: 48px;
}

.intro-chunk p strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  margin-top: 64px;
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  padding: 96px 0;
}

.card {
  line-height: 1.5;
  background-color: white;
  padding: 24px 24px 8px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  font-size: 1.25rem;
  margin-top: -16px;
  margin-left: -32px;
  padding: 16px 32px 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: max-content;
}

/*
Spacing
8px
16px
24px
32px
48px
64px
96px
128px

Font sizes
1rem
1.25rem
1.5rem
2rem

Colours
Primary (green):
hsl(160deg, 100%, 30%)

Secondary (gold):
hsl(45deg, 100%, 50%) (lighter)
hsl(45deg, 100%, 40%) (darker)

Grays:
hsl(0deg, 0%, 0%) (black)
hsl(0deg, 0%, 10%) (very dark)
hsl(0deg, 0%, 30%) (dark)
hsl(0deg, 0%, 40%) (medium)
hsl(0deg, 0%, 60%) (light)
hsl(0deg, 0%, 100%) (white)
*/
